* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Antenna";
    background-color: white;
    background-image: url(../imagenes/Sprinkle.svg);
    
}


.navegacion{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    border: 3px solid black;
    background-color: #fdba2d;
    margin: 0rem;
    text-decoration: none;
    background-image: url(../imagenes/Sprinkle.svg);
    min-width: 250px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    padding: 0rem;
    border: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.li1{
    border: 1px solid black;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    text-align: center;
    background-color: #fdba2d;
    

    
}

a:link{
    text-decoration: none;

}

a:visited{
    color: white;

}


.auto1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid;

}



.boton{
color: white;
border: 2px solid white;
border-radius: 10px ;
box-shadow: none;
background-color: #fdba2d;

}


img{
    max-width: 100%;
    max-height: 100%;
}

.auto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    align-items: center;
    width: 100%;
    height: 50%;
   
    border: 1px solid;
}

.h4{
    background-color: none;
    color: black;
}

.comprar{
    color: white;
border: 2px solid white;
border-radius: 10px ;
text-decoration: none;
background-color: #fdba2d;

}

.footer{
    background-color: #fdba2d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    width: 50%;
    height: 90px;
}

@media screen and (max-width: 450px){

    .navegacion{
        width: 103%;
        height: 100%;
    }

    body{
        width: 109%;
    }


    
}


@media screen and (max-width: 320px){

    .navegacion{
        width: 100%;
    }

    body{
        width: 129%;
    }

    .h4{
        padding: 1px;
        padding: 1px;
        padding: 1px;
        padding: 1px;
    }


}


.header__{
    background-color: white;
    
}


.navegacion_{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    border: 3px solid black;
    background-color: #fdba2d;
    margin: 0rem;
    background-image: url(../imagenes/Sprinkle.svg);
    

}

.li-posventa{
    border: 1px solid black;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    text-align: center;
    background-color: #fdba2d;
    text-decoration: none;

}

.ul-posventa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    padding: 0rem;
    border: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.section{
    justify-items:center ;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50% 50% 50%;
    gap: 20px;
    padding: 1rem;
    padding: 1rem;
    padding: 1rem;
    padding: 1rem;
    
}

.mantenimiento{
    padding-top: 0rem;
    padding-bottom: 1rem;
    margin: 2rem;
    width: 100%;
    height: 170%;
    border: 2px solid black;
  
}
.span_{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
    margin: 2rem;
    text-align: center;
    border-radius: 3px;
    
}

.linea-directa{
    padding-top: 0rem;
    padding-bottom: 1rem;
    margin: 2rem;
    width: 100%;
    height: 140%;
    border: 2px solid black;

}

.linea-directa-parrafo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
    margin: 1rem;
    text-align: center;
    border-radius: 3px;

}

.ingresos{
    padding-top: 0rem;
    padding-bottom: 1rem;
    margin: 2rem;
    width: 100%;
    height: 140%;
    border: 2px solid black;
}

.ingresos__{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
    margin: 1rem;
    text-align: center;
    border-radius: 3px;

}

.ingresos-img{
    width: 100%;
}

.footer_pos{
    background-color: #fdba2d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 1rem;
    width: 50%;
    height: 90px;
}

.nav_financiacion{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    border: 1px solid black;
    background-color: #fdba2d;
    margin: 0rem;
    background-image: url(../imagenes/Sprinkle.svg);
    z-index: 1000;
    

}


.ul_financiacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    padding: 0rem;
    border: 0px;
    list-style: none;
    text-decoration: none;
    color: black;

}

.il_financiacion{
    border: 1px solid black;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    text-align: center;
    background-color: #fdba2d;
    text-decoration: none;


    


}


.header_financiacion{
    background-color: #fff;
}


.footer_financiacion{
    background-color: #fdba2d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 1rem;
    width: 50%;
    height: 90px;

}

.section_fi{
    padding: 5rem;
    position: static;
    z-index: 1;
  
}