@media screen and (max-width: 450px){

    .navegacion{
        width: 103%;
        height: 100%;
    }

    body{
        width: 109%;
    }


    
}


@media screen and (max-width: 320px){

    .navegacion{
        width: 100%;
    }

    body{
        width: 129%;
    }

    .h4{
        padding: 1px;
        padding: 1px;
        padding: 1px;
        padding: 1px;
    }


}